body {
	height: 100%;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

// Page
@import "./_home";

// Components
// @import "components/header";

.transform {
    transform:translateX(40%) translateY(50%)
}
